h1 {
	margin: 1% 20%;
}
.form-control {
	width: auto;
	height: auto;
	margin: 0 10%;
	background: rgba(50, 197, 255, 0.15);
	border: 3px solid #0998FF;
	box-sizing: border-box;
	border-radius: 40px
	}
