.carousel-item {
  height: 200px !important;
  width: 340px !important;
}

.question_board {
  margin-left: auto;
  margin-right: auto;
  width: 1216px;
  background: rgba(50, 197, 255, 0.15);
  mix-blend-mode: normal;
  border: 3px solid #0998FF;
  box-sizing: border-box;
  border-radius: 30px;
}

.answer_board {
  margin-left: auto;
  margin-right: auto;
  width: 1216;
  background: rgba(50, 197, 255, 0.15);
  margin-top: 45px;
}

.add-ans {

  margin-top: 25px;
  margin-left: 40%;
  margin-right: 40%;
  height: 60px;
  width: 300px;
  background: #32C5FF;
  border: 2px solid #0998FF;
  box-sizing: border-box;
  border-radius: 40px;
}
