.carousel-item {
  height: 200px !important;
  width: 340px !important;
}

.question_board {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: rgba(50, 197, 255, 0.15);
  mix-blend-mode: normal;
  border: 2px solid #0998FF;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 7px;
}

.answer_board {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: rgba(50, 197, 255, 0.15);
  margin-top: 45px;
  padding: 7px;
}

.add-ans {

  margin-top: 25px;
  position: relative;
  height: 60px;
  width: 300px;
  background: #32C5FF;
  border: 2px solid #0998FF;
  box-sizing: border-box;
  border-radius: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}

.enter {
	background: #32C5FF;
	border: 2px solid #0998FF;
	border-radius: 20px;
        font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}
