{% extends "main_template.html" %}

{% block content %}
<link rel='stylesheet' type="text/css" href='/static/css/style.css' />
    <h1>Авторизация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control", style="background: rgba(50, 197, 255, 0.15); border: 2px solid #0998FF;", type="login") }}<br>
            {% for error in form.login.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", style="background: rgba(50, 197, 255, 0.15); border: 2px solid #0998FF;", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
		{% if message %}
        <p class="alert alert-danger" role="alert">{{ message }}</p>
		{% endif %}
        <p>{{ form.submit(type="submit", class="enter", value="Войти") }}</p>
    </form>
{% endblock %}
