  
<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(73594555, "init", {
		clickmap:true,
		trackLinks:true,
		accurateTrackBounce:true,
		webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/73594555" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{ title }}</title>
	<style>body {background-color: #ffffff}</style>
</head>
<body>
<header>
	<nav class="navbar navbar-dark bg-dark">
        <img src="https://i.ibb.co/7WscdWH/imgonline-com-ua-Resize-r-Y4d4-Oxr-Zmk.png", style="border-radius: 50%">
		<a class="navbar-brand" href="/" style="
			font-size: 18px;
			color: #E7EBEF;
			margin-right: auto;
		        margin-left: 15px;
		">Главная страница</a>
        <div class="navbar-nav">
            <style type="text/css">.header-btn {margin: auto; margin-left: auto;}</style>
            {% if current_user.is_authenticated %}
	    <p class="header-btn">
		    <a class="btn btn-primary" href="/add_question" style="
			      background: #DAE8F7;
			      color: #000000
		    ">Задать свой вопрос</a>
		    <a class="btn btn-outline-warning header-btn" href="/logout">Выйти</a>
            </p>
            {% else %}
            <p class="header-btn">
                <a class="btn btn-primary" href="/add_question" style="
			background: #DAE8F7;
			color: #000000
		">Задать свой вопрос</a>
                <a class="btn btn-outline-primary " href="/register">Регистрация</a>
                <a class="btn btn-outline-success" href="/login">Войти</a>
            </p>
            {% endif %}
        </div>

    </nav>
</header>
<main role="main" class="container">
	{% block content %}{% endblock %}
	</main>
</body>
</html>
