<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{ title }}</title>
	<style>body {background-color: #ffffff}</style>
</head>
<body>
<header>
	<nav class="navbar navbar-dark bg-dark">
		>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="
		background: url(https://s3-alpha-sig.figma.com/img/01c5/24bd/e9c535527117336322622b425cf7b8a4?Expires=1614556800&amp;Signature=cSyFnRaDiInZpMqZUFm19Ypxc-MqB-HrO1kh2tWN5Br05EpH~BvDeKucwfA7rTZnuITl7TIz~TBXDWNemSBaLiI2caX9TZy7ihiEd0cWNQpIXAoDZaOUBJdtlqRnmTJyihntVIRN-QwOum9R-aJiMPyjS8kp56Gw8por-rhZZb5OIAyNzkx4kVdiH5z8JdyDNs27IaMVzTWydSI4sMLuze838qexwVQF1Msi-anIv5xYHyN82phMF1HRatq~gcGhOS52m-low4XbCzsGaVZvy96z4XMJ-cwgh0Ohv1VjI0Eno5oWeVgb0AxEjz2kuCrTIVrVBBCP4RpSWzFyRo3qHQ__&amp;Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
		border-radius: 50%;
		width: 62px;
		height: 62px;
		">
		</button>
		<a class="navbar-brand" href="/" style="
			font-size: 18px;
			color: #E7EBEF;
			margin-left: 5%;
		">Главная страница</a>
		<a href="/add_question" class="btn btn-primary" style="
			font-size: 20px;
			background: #DAE8F7;
			border-radius: 50px;
			WIDTH: 334px;
			margin-left: auto;
			color: #000000
		">Задать свой вопрос</a>
	</nav>
	
</header>
<main role="main" class="container">
	{% block content %}{% endblock %}
	</main>
</body>
</html>
